# Global profile
SPRING_PROFILES_ACTIVE=local
BARO_GATEWAY_PORT=8080
BARO_GATEWAY_CONFIG_IMPORT=optional:configserver:http://localhost:8888

# =========================
# user-service (baro-user) - 로컬 기준
# =========================
BARO_USER_PORT=8087
BARO_USER_CONFIG_IMPORT=optional:configserver:http://localhost:8888

BARO_USER_DATASOURCE_URL=jdbc:mysql://localhost:3307/baro_user?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true&useUnicode=true
BARO_USER_DB_USERNAME=
BARO_USER_DB_PASSWORD=

BARO_USER_KAFKA_BOOTSTRAP_SERVERS=localhost:29092

BARO_USER_JWT_SECRET=replace-with-secure-secret-key-min-32-bytes

BARO_USER_MAIL_USERNAME=
BARO_USER_MAIL_PASSWORD=
BARO_USER_EUREKA_DEFAULT_ZONE=http://localhost:8761/eureka/
BARO_USER_AUTH_COOKIE_SECURE=true
BARO_USER_AUTH_COOKIE_DOMAIN=

BARO_USER_AUTH_USER_EVENTS_TOPIC=user-events
BARO_USER_AUTH_OUTBOX_PUBLISH_INTERVAL_MS=1000
BARO_USER_AUTH_OUTBOX_MAX_ATTEMPTS=5

# todo : 네이버는 이후에 도입예정, 카카오 우선
BARO_USER_NAVER_CLIENT_ID=
BARO_USER_NAVER_CLIENT_SECRET=

BARO_USER_NAVER_REDIRECT_URI=http://localhost:8087/api/v1/auth/oauth/callback?provider=naver
BARO_USER_NAVER_TOKEN_URI=https://nid.naver.com/oauth2.0/token
BARO_USER_NAVER_USERINFO_URI=https://openapi.naver.com/v1/nid/me

# secret은 사용 안하는 상태
BARO_USER_KAKAO_CLIENT_ID=
BARO_USER_KAKAO_CLIENT_SECRET=
BARO_USER_KAKAO_REDIRECT_URI=http://localhost:3000/oauth/kakao/callback
BARO_USER_KAKAO_TOKEN_URI=https://kauth.kakao.com/oauth/token
BARO_USER_KAKAO_USERINFO_URI=https://kapi.kakao.com/v2/user/me

BARO_USER_OPA_HOTLIST_TOPIC=opa-hotlist-events


